th {
  background-color: #eee;
}

.json-array {
  background-color: white;
}

.json-empty-array, .json-empty-object, .json-null {
  font-style: italic;
  color: gray;
}

.json-literal {
  display: inline-block;
}

.json-literal-array > .json-literal {
  border: rgba(128, 128, 128, 0.3) 1px solid;
  margin-right: 10px;
  padding: 3px 8px;
  border-radius: 18px;
}

.index-col {
  font-size: small;
  font-weight: bold;
}

.prop-name {
  padding-right: 2px;
  vertical-align: middle;
  text-align: right;
  font-weight: bold;
  &::after {
    content: " :";
  }
}

.prop-value {
  vertical-align: middle;
}
